text, label {
    HorizontalAlignment: Left;
    VerticalAlignment: Top;
    color: White;
    font-size: 16px;
}
button {
    width: 200px;
    height: 50px;
    margin: 5px;
    normal: "Assets/btn_normal.png";
    hover: "Assets/btn_hover.png";
    pressed: "Assets/btn_pressed.png";
}
.container {
    padding: 5px;
}
